*
  box-sizing: border-box;

html
  font-size: 10px;
  
body
  font-size: 1.6rem;
  font-family: 'Raleway', 'Helvetica', Arial, sans-serif;
  font-weight: 200;
  color: $textColor;
  text-shadow: 0 0 10px rgba($black, .1)

strong
  font-weight: 600;

h1
  font-size: 2.6rem;
  padding: 1vh;

h2
  font-size: 1.8rem;
  padding: 1vh;

a
  color: $white;
  text-decoration: none;
  
  &:hover
    color: $white;

input, textarea
  display: block;
  background: rgba($white, .7);
  font-size: 1.8rem;
  padding: .5rem;
  border-style: solid;
  border: 1px solid $white;
  width: 100%;
  
  &:focus
    background: rgba($white, .9)
  
textarea
  resize: none;
  height: 15rem;

::-webkit-input-placeholder
  color: rgba($textColor, .8);
:-moz-placeholder
  color: rgba($textColor, .8);
::-moz-placeholder
  color: rgba($textColor, .8);
:-ms-input-placeholder
  color: rgba($textColor, .8);
  
button
  font-size: 1.8rem;
  border: none;
  padding: .5rem 3.5rem;
  color: $textColor;
  background: $white;

//page patterns
.max-container
  max-width: 1200px;
  margin: 0 auto;