// colors
$mainColor = rgb(112, 205, 157);
$textColor = rgb(74, 74, 74);
$black = rgb(6, 16, 51);
$white = rgb(255, 255, 255);
$middleGray = rgb(155, 155, 155);

// media queries
$mediaPhone = 'screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)';
$mediaTablet = 'screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2)';
$mediaSmall = 'screen and (max-width: 480px)';
$mediaMedium = 'screen and (max-width: 768px)';
