.contact
  padding: 6vh 3vw;
  background: url('../../assets/footer-bg.png') no-repeat center center;
  background-size: cover;
  color: $white;
  min-height: 20vh;
  text-shadow: 0 0 10px rgba($black, 0.8);

  .container
    max-width: 120rem;
    margin: 0 auto;
    font-size: 0;
  
  .contact-form, .social-media-links
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 2rem;
    padding: 1vh 4vw;
  
  h1
    padding: 2vh 4vw;

  .link-list 
    padding: 2vh 4vw;
    
    .link-item
      display: inline-block
      font-size: 4rem;
      padding: 1.5vh 0
      
      &:not(:last-child)
        margin-right: 4vw;
