.gallery
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 9vh 0 15vh;
  
  .title
    text-align: center;
    margin-bottom: 9vh;
    
  .gallery-row
    display: flex;
    
  .gallery-item
    text-align: center;
    flex-grow: 1;
    
  .image-link
    background-color: skyblue;
    background-size: cover;
    display: block;
    height: 30rem;
    opacity: .4;
    transition: all .2s ease-out;
    
    &:hover
      opacity: .8;

  .client-subtitle
    color: $middleGray
    padding: 1vh 0;
    
  .client-logo-container
    padding: 5vh 1vw 3vh;
    
  // row specific setup
  .row-one, .row-three
    align-items: center;
    
    .item-one, .item-two
      width: 50%;
  
  .row-two, .row-four
    align-items: stretch;

  .row-two
    .item-one 
      flex-grow: 2;
      
      .image-link
        height: 47rem
    
    .item-two
      flex-grow: 5;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    
    .link-one
      flex-grow: 5;
      height: 29rem;
    
    .client-logo-container
      flex-grow: 1;
    
    .link-two
      height: 18rem;
      width: 100%;
  
  .row-three
    .client-logo-container
      padding-top: 3vh;
    .image-link
      height: 21rem;

  .row-four
    .item-one
      .image-link
        height: 15rem;
        
      .client-logo-container
        padding: 2.5vh 1vw;
        
    .item-two
      flex-grow: 2;
      width: 50%;
    
    .item-three
      .client-logo-container
        padding: 11vh 1vw;
    

// image classes
.microsoft-ignite-image
  background-image: url('../../assets/gallery/microsoft-thumb.png');
.portfolio-image
  background-image: url('../../assets/gallery/asenn-thumb.png');
.frontier-image
  background-image: url('../../assets/gallery/frontier-thumb.png');
.alpha-miami-image
  background-image: url('../../assets/gallery/mia-summit-thumb.png');
.microsoft-device-image
  background-image: url('../../assets/gallery/devices-thumb.png');
.alpha-monoco-image
  background-image: url('../../assets/gallery/mon-summit-thumb.png');
.events-image
  background-image: url('../../assets/gallery/spevent-thumb.png');
.alpha-web-image
  background-image: url('../../assets/gallery/-thumb.png');
