.gallery
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 110rem;
  padding: 9vh 0 15vh;
  
  .title-container
    text-align: center;
    margin-bottom: 6vh;
    
  .title
    text-transform: uppercase;

.gallery-row
  display: flex;
  padding: 2vh 0;
  
.gallery-item
  text-align: center;
  flex-grow: 1;
  
.client-subtitle
  color: $middleGray
  padding: 1vh 0;
  
.client-logo-container
  padding: 5vh 1vw 3vh;

.image-link, .image-box
  background-color: skyblue;
  background-size: cover;
  display: block;
  height: 30rem;

.image-link
  opacity: .4;
  overflow: hidden
  position: relative;
  transition: all .2s ease-out;
  
  .hover-title, .hover-title-text
    position: absolute;
    left: 0;
    width: 100%;
    
  .hover-title
    background: rgba($black, .5);
    transition: all .2s ease-out;
    height: 100%;
    top: 0;
    opacity: 0;
  
  .hover-title-text
    top: 50%;
    font-size: 3rem;
    margin-top: -1.5rem;
    text-align: center;
    text-shadow: 0 0 5px $black;
  
  &:hover
    opacity: 1;
    .hover-title
      opacity: 1;    
    
.image-container, .image-box
  padding: 2vh 2vw;
  
  img
    width: 100%;

// patterns
.two-up, .three-up
  display: flex;
  align-items: center;
  flex-wrap: wrap;

.two-up
  .flex-item, .gallery-item
    width: 50%;
  
    &:nth-of-type(even)
      padding-left: 1vw
    &:nth-of-type(odd)
      padding-right: 1vw
  
  .image-container
    &:nth-of-type(even)
      padding-right: 0
    &:nth-of-type(odd)
      padding-left: 0
      
  &.shift-right
    align-items: flex-start;
    
    .flex-item, .gallery-item
      &:nth-of-type(odd)
        width: 55%
      &:nth-of-type(even)
        width: 45%
  
  &.shift-righter
    align-content: stretch;
    
    .flex-item, .gallery-item
      &:nth-of-type(odd)
        width: 60.5%
      &:nth-of-type(even)
        width: 39.5%

.three-up
  .flex-item, .gallery-item
    width: 33%;
    
    &:nth-child(1) .image-container
      padding-left: 0
      
    &:nth-child(2) .image-container
      padding-left: .75vw
      padding-right: .75vw
      
    &:nth-child(3) .image-container
      padding-right: 0

//media query pattern changes
@media $mediaSmall
  .two-up, .two-up.shift-right, .two-up.shift-righter, .three-up
    .flex-item, .gallery-item
      width: 100%;
      padding: 2vh 0;
      
      &:first-of-type 
        padding-top: 0

      &:last-of-type
        padding-bottom: 0
      
      &:nth-of-type(even), &:nth-of-type(odd), .image-container,
      &:nth-child(1) .image-container, &:nth-child(2) .image-container,
      &:nth-child(3) .image-container
        width: 100%;
        padding-right: 0
        padding-left: 0


    
// page gallery customization
@import 'galleries/main'
@import 'galleries/ignite'
@import 'galleries/frontier'
@import 'galleries/portfolio'
@import 'galleries/device'
@import 'galleries/miami'
@import 'galleries/monaco'
@import 'galleries/events'
@import 'galleries/alpha-web'
@import 'galleries/hortonworks'
