.gallery
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 9vh 0 15vh;
  
  .title-container
    text-align: center;
    margin-bottom: 9vh;
    
  .title
    text-transform: uppercase;

.gallery-row
  display: flex;
  
.gallery-item
  text-align: center;
  flex-grow: 1;
  
.client-subtitle
  color: $middleGray
  padding: 1vh 0;
  
.client-logo-container
  padding: 5vh 1vw 3vh;

.image-link, .image-box
  background-color: skyblue;
  background-size: cover;
  display: block;
  height: 30rem;

.image-link
  opacity: .4;
  transition: all .2s ease-out;
  
  &:hover
    opacity: .8;
    
.image-container
  padding: 2rem;
  
  img
    width: 100%;

// patterns   
.two-up
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .flex-item, .gallery-item
    width: 50%;  
    
// page gallery customization
@import 'galleries/main'
@import 'galleries/ignite'
