.header
  height: 100vh
  max-height: 550px;
  position: relative;

  .logo-container
    height: 100%;
    text-align: center;
    position: relative;
    background: url('http://placekitten.com/g/1500/500');
    
  .logo-large
    background: url('../../assets/logo-large.svg') no-repeat;
    height: 20vh;
    width: 40vh;
    display: inline-block;
    background-size: contain;
    position: absolute;
    top: 50%
    left: 50%
    margin-top: -18vh;
    margin-left: -20vh;

  .title-container
    background: $mainColor;
    color: $white;
    text-align: center;
    padding: 3vh;
    position: absolute;
    bottom: 0;
    width: 100%;

  .nav
    position: absolute;
    right: 0;
    top: 0;
    