.header
  height: 100vh
  max-height: 90rem;
  position: relative;

  .logo-container
    height: 90vh;
    text-align: center;
    position: relative;
    background: url('../../assets/header-bg.png') no-repeat;
    background-position: center center;
    background-size: cover;
    
  .title-container
    color: $white;
    background: $mainColor;
    position: absolute;
    bottom: 0;
    width: 100%;
  
    
.title-container
  text-align: center;
  padding: 3vh;
  
.logo-large
  background: url('../../assets/amstk-logo-lg.svg') no-repeat;
  height: 20vh;
  width: 40vh;
  display: inline-block;
  background-size: contain;
  position: absolute;
  top: 50%
  left: 50%
  margin-top: -11vh;
  margin-left: -20vh;
  
.logo-small
  background: url('../../assets/amstk-logo-sm.svg') no-repeat;
  height: 6rem;
  width: 13rem;
  display: inline-block;
  background-size: contain;

.nav
  position: absolute;
  right: 0;
  top: 0;
  display: none;
    
.sub-header
  position: relative;
  background: $mainColor;
  color: $white;

  .title-container
    padding: 1.5rem;

@media $mediaSmall
  .logo-small
    height: 5rem;
    width: 10rem;
  
  .title-container
    padding: 1rem;
    