.header
  height: 100vh
  max-height: 90rem;
  position: relative;

  .logo-container
    height: 85%;
    text-align: center;
    position: relative;
    background: url('../../assets/header-bg.png') no-repeat;
    background-position: center center;
    background-size: cover;
    
  .logo-large
    background: url('../../assets/amstk_logo_lg.svg') no-repeat;
    height: 20vh;
    width: 40vh;
    display: inline-block;
    background-size: contain;
    position: absolute;
    top: 50%
    left: 50%
    margin-top: -11vh;
    margin-left: -20vh;

  .title-container
    background: $mainColor;
    color: $white;
    text-align: center;
    padding: 3vh;
    position: absolute;
    bottom: 0;
    width: 100%;

  .nav
    position: absolute;
    right: 0;
    top: 0;
    