@import './_variables';

:root {
    #{$surface-var}: $surface-value;
    #{$text-var}: $text-value;
    #{$primary-var}: $primary-value;
    #{$secondary-var}: $secondary-value;
    #{$accent1-var}: $accent1-value;
    #{$accent2-var}: $accent2-value;
    #{$font-stack-var}: $font-stack-value;
    #{$page-width-var}: $page-width-value;
    font-size: 20px;
}

body {
    background: $surface;
    color: $text;
    font-family: $font-stack;
}
