@import '../../styles/_variables.scss';

.header-menu__open-button,
.header-menu__close-button {
    display: inline-block;
    padding: 1rem;
}

.header-menu__container,
.header-menu__scrim {
    height: 100vh;
    left: 0;
    width: 100vw;
}

.header-menu__menu,
.header-menu__container,
.header-menu__scrim {
    top: 0;
    position: fixed;
}

.header-menu__scrim {
    background: rgba(0,0,0,.3);
    transition: opacity .2s ease-in;
}

.header-menu__link-list,
.header-menu__menu {
    display: flex;
    flex-direction: column;
}

.header-menu__menu {
    background: $secondary;
    color: $primary;
    display: flex;
    min-height: 100vh;
    min-width: 300px;
    width: 50vw;
    transition: right .2s ease-in;
}

.header-menu__close-container {
    text-align: right;
}
    
.header-menu__link,
.header-menu__work-link,
.header-menu__close-button,
.header-menu__open-button {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;    
    }
}

.header-menu__link-list {
    padding: 0 2rem;
}

.header-menu__link {
    color: $primary;
    font-size: 1.75rem;
}

.header-menu__work-link {
    color: $accent2;
    margin-bottom: .2rem;
    margin-left: 2rem;
}

.header-menu__container {
    visibility: hidden;
    position: fixed;

    .header-menu__scrim {
        opacity: 0;
    }
    .header-menu__menu {
        right: -50vw;
    }
}

.header-menu__container--open {
    visibility: visible;
    
    .header-menu__scrim {
        opacity: 1;
    }
    .header-menu__menu {
        right: 0;
    }
}
