@import 'nib'
global-reset()

// framework
@import 'base/variables'
@import 'base/framework'
@import 'base/fonts'

// widgets
@import 'widgets/header'
@import 'widgets/gallery'
@import 'widgets/contact'