// alignment styles and images for the alpha-website gallery

// image classes
.alpha-web-mobile-image
  background-image: url('../../assets/alpha-web/alpha-web-mobile.png');
  max-height: 55rem;
  height: 60vw;
  background-position: center;
.alpha-web-booklet-image
  background-image: url('../../assets/alpha-web/alpha-web-booklet.png');
  max-height: 45rem;
  height: 70vw;
  background-position: center;
.alpha-web-touch-image
  background-image: url('../../assets/alpha-web/alpha-web-touch.png');
  max-height: 50rem;
  height: 80vw;
  background-position: bottom;