// alignment styles and images for the portfolio gallery

// image classes
.alpha-web-mobile-image
  background-image: url('../../assets/alpha-web/alpha-web-mobile.png');
  height: 65rem;
  background-position: center;
.alpha-web-booklet-image
  background-image: url('../../assets/alpha-web/alpha-web-booklet.png');
  height: 43rem;
  background-position: center;
.alpha-web-touch-image
  background-image: url('../../assets/alpha-web/alpha-web-touch.png');
  height: 65rem;
  background-position: center;