// alignment styles and images for the special event gallery

// image classes
.pinterest-desktop-mock
  background-image: url('../../assets/blue-nile/pinterest-mockup-img.jpg');
  max-height: 60rem;
  height: 70vw;
  background-position: center;
  width: 100%
