// alignment styles and images for the portfolio gallery
#gallery-device
  .two-up
    .gallery-item:nth-of-type(odd)
      padding-right: 1vw  

    .gallery-item:nth-of-type(even)
      padding-left: 1vw

// image classes
.device-desktop-image
  background-image: url('../../assets/device/device-desktop.png');
  height: 65rem;
  background-position: bottom;
.device-desktop-two-image
  background-image: url('../../assets/device/device-desktop-02.png');
  height: 65rem;
  background-position: center;
.device-slide-image
  background-image: url('../../assets/device/device-slide.png');
  height: 30rem;
  background-position: center;
.device-slide-two-image
  background-image: url('../../assets/device/device-slide-02.png');
  height: 30rem;
  background-position: center;
