// alignment styles and images for the portfolio gallery

// image classes
.device-desktop-image
  background-image: url('../../assets/device/device-desktop.png');
  height: 50rem;
  background-position: bottom;
.device-desktop-two-image
  background-image: url('../../assets/device/device-desktop-02.png');
  height: 60rem;
  background-position: bottom;
.device-slide-image
  background-image: url('../../assets/device/device-slide.png');
  height: 30rem;
  background-position: center;
.device-slide-two-image
  background-image: url('../../assets/device/device-slide-02.png');
  height: 30rem;
  background-position: center;
