// alignment styles and images for the special event gallery

// image classes
.events-invite-image
  background-image: url('../../assets/events/events-invite.png');
  max-height: 60rem;
  height: 90vw;
  background-position: center;
.events-wedding-image
  background-image: url('../../assets/events/events-wedding.png');
  max-height: 40rem;
  height: 70vw;
  background-position: center;
.events-wedding-two-image
  background-image: url('../../assets/events/events-wedding-02.png');
  max-height: 40rem;
  height: 70vw;
  background-position: center;
.events-touch-image
  background-image: url('../../assets/events/events-touch.png');
  max-height: 50rem;
  height: 100vw;
  background-position: center;
.events-bag-image
  background-image: url('../../assets/events/events-bag.png');
  max-height: 50rem;
  height: 100vw;
  background-position: center;
