// alignment styles and images for the portfolio gallery
#gallery-events
  .row-three.two-up
    align-items: flex-start;
    
    .gallery-item:nth-of-type(odd)
      width: 55%  

    .gallery-item:nth-of-type(even)
      width: 45%

// image classes
.events-invite-image
  background-image: url('../../assets/events/events-invite.png');
  height: 65rem;
.events-wedding-image
  background-image: url('../../assets/events/events-wedding.png');
  height: 40rem;
  background-position: center;
.events-wedding-two-image
  background-image: url('../../assets/events/events-wedding-02.png');
  height: 40rem;
  background-position: center;
.events-touch-image
  background-image: url('../../assets/events/events-touch.png');
  height: 60rem;
  background-position: center;
.events-bag-image
  background-image: url('../../assets/events/events-bag.png');
  height: 60rem;
  background-position: center;
