// alignment styles and images for the frontier gallery
// image classes
.frontier-desktop-image
  background-image: url('../../assets/frontier/frontier-desktop.png');
  max-height: 60rem;
  height: 100vw;
  background-position: top;
.frontier-veterans-image
  background-image: url('../../assets/frontier/frontier-veterans.png');
  max-height: 55rem;
  height: 50vw;
  background-position: center;