// alignment styles and images for the main gallery
#gallery-frontier
  .row-three
    align-content: stretch
  
  .flex-item
    width: 60.5%;
    
    &:nth-of-type(even)
      width: 39.5%;
    
// image classes
.frontier-desktop-image
  background-image: url('../../assets/frontier/frontier-desktop.png');
  height: 60rem;
  background-position: top;
.frontier-veterans-image
  background-image: url('../../assets/frontier/frontier-veterans.png');
  height: 55rem;
  background-position: center;