// alignment styles and images for the special event gallery

// image classes
.hortonworks-desktop-image
  background-image: url('../../assets/hortonworks/hortonworks-desktop.png');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
.hortonworks-slide-image
  background-image: url('../../assets/hortonworks/hortonworks-slide.png');
  max-height: 40rem;
  height: 70vw;
  background-position: center;
.hortonworks-slide-two-image
  background-image: url('../../assets/hortonworks/hortonworks-slide-02.png');
  max-height: 40rem;
  height: 70vw;
  background-position: center;
.hortonworks-touch-image
  background-image: url('../../assets/hortonworks/hortonworks-touch.png');
  max-height: 50rem;
  height: 100vw;
  background-position: bottom;
.hortonworks-mobile-image
  background-image: url('../../assets/hortonworks/hortonworks-mobile.png');
  max-height: 50rem;
  height: 100vw;
  background-position: center;
