// alignment styles and images for the main gallery
#gallery-ignite
  .row-two
    padding: 2rem;
    align-items: space-between
    
// image classes
.ignite-devops-image
  background-image: url('../../assets/ignite/ignite-devops.png');
  height: 65rem;
  background-position: center;
.ignite-flier-image
  background-image: url('../../assets/ignite/ignite-flier.png');
  height: 65rem;
  background-position: center;