// alignment styles and images for the main gallery
    
// image classes
.ignite-devops-image
  background-image: url('../../assets/ignite/ignite-devops.png');
  height: 60rem;
  background-position: center;
.ignite-flier-image
  background-image: url('../../assets/ignite/ignite-flier.png');
  height: 60rem;
  background-position: center;