// alignment styles and images for the ignite gallery
    
// image classes
.ignite-devops-image
  background-image: url('../../assets/ignite/ignite-devops.png');
  max-height: 60rem;
  height: 80vw;
  background-position: center;
.ignite-flier-image
  background-image: url('../../assets/ignite/ignite-flier.png');
  max-height: 60rem;
  height: 80vw;
  background-position: center;