// alignment styles and images for the special event gallery

// image classes
.leadership-mockup-one-image
  background-image: url('../../assets/leadership/leadership-mockup-1.png');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
  width: 100%
.leadership-mockup-two-image
  background-image: url('../../assets/leadership/leadership-mockup-2.jpg');
  min-height: 30rem;
  max-height: 70rem;
  height: 50vw;
  background-position: center;
  width: 100%;
