// alignment styles and images for the main gallery
#gallery-main
  .gallery-row
    padding: 0
    
  .two-up 
    .gallery-item, .flex-item
      padding: 0;
  
  .row-two, .row-four
    align-items: stretch;

  .row-two
    .item-one 
      flex-grow: 2;

    .item-two
      flex-grow: 5;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    
    .link-one
      flex-grow: 5;
    
    .client-logo-container
      flex-grow: 1;
    
    .link-two
      width: 100%;
  
  .row-three
    .client-logo-container
      padding-top: 3vh;

  .row-four
    .item-one, .item-three
      .client-logo-container
        padding: 2.5vh 1vw;
        
    .item-two
      flex-grow: 2;
      width: 50%;
    
    .item-three
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    
@media $mediaMedium
  #gallery-main
    .row-one
      .item-one 
        order: 2
      .item-two 
        order: 1
    
    .row-two
      flex-wrap: wrap;
      
      .item-one, .item-two
        width: 100%
        flex-grow: 1;
      
      .link-one, .link-two, .client-logo-container
        flex-grow: 1;
        width: 100%;
    
    .row-four
      flex-wrap: wrap;
      
      .item-one, .item-two, .item-three
        flex-grow: 1;
        width: 100%;
    
    .item-three .client-logo-container
      width: 100%;

// image classes
.microsoft-ignite-image
  background-image: url('../../assets/gallery/microsoft-thumb.png');
.portfolio-image
  background-image: url('../../assets/gallery/asenn-thumb.png');
.frontier-image
  background-image: url('../../assets/gallery/frontier-thumb.png');
  height: 47rem;
.alpha-miami-image
  background-image: url('../../assets/gallery/mia-summit-thumb.png');
  height: 29rem;
.microsoft-device-image
  background-image: url('../../assets/gallery/devices-thumb.png');
  height: 18rem;
.alpha-monoco-image
  background-image: url('../../assets/gallery/mon-summit-thumb.png');
  height: 21rem;
.events-image
  background-image: url('../../assets/gallery/spevent-thumb.png');
  max-height: 20rem;
  height: 100vh;
.hortonworks-image
  background-image: url('../../assets/gallery/hortonworks-thumb.png');
  max-height: 20rem;
  height: 100vh;
  width: 100%;
.alpha-web-image
  background-image: url('../../assets/gallery/alpha-web-thumb.png');
  max-height: 37rem;
  height: 100vh;
  background-position: center;