// alignment styles and images for the miami gallery

// image classes
.miami-desktop-image
  background-image: url('../../assets/miami/miami-desktop.png');
  max-height: 60rem;
  height: 100vw;
  background-position: bottom;
.miami-booklet-image
  background-image: url('../../assets/miami/miami-booklet.png');
  max-height: 60rem;
  height: 60vw;
  background-position: center;
.miami-mobile-image
  background-image: url('../../assets/miami/miami-mobile.png');
  max-height: 60rem;
  height: 100vw;
  background-position: center;
.miami-signage-image
  background-image: url('../../assets/miami/miami-signage.png');
  max-height: 35rem;
  height: 55vw;
  background-position: center;
.miami-signage-two-image
  background-image: url('../../assets/miami/miami-signage-02.png');
  max-height: 35rem;
  height: 55vw;
  background-position: center;
