// alignment styles and images for the portfolio gallery
#gallery-miami
  .row-three.two-up
    align-items: flex-start;
    
    .gallery-item:nth-of-type(odd)
      width: 55%  

    .gallery-item:nth-of-type(even)
      width: 45%

// image classes
.miami-desktop-image
  background-image: url('../../assets/miami/miami-desktop.png');
  height: 60rem;
  background-position: bottom;
.miami-booklet-image
  background-image: url('../../assets/miami/miami-booklet.png');
  height: 60rem;
  background-position: center;
.miami-mobile-image
  background-image: url('../../assets/miami/miami-mobile.png');
  height: 60rem;
  background-position: center;
.miami-signage-image
  background-image: url('../../assets/miami/miami-signage.png');
  height: 35rem;
  background-position: center;
.miami-signage-two-image
  background-image: url('../../assets/miami/miami-signage-02.png');
  height: 35rem;
  background-position: center;
