// alignment styles and images for the portfolio gallery
#gallery-monaco
  .row-three.two-up
    align-items: flex-start;
    
    .gallery-item:nth-of-type(odd)
      width: 55%  

    .gallery-item:nth-of-type(even)
      width: 45%

// image classes
.monaco-touch-image
  background-image: url('../../assets/monaco/monaco-touch.png');
  height: 65rem;
.monaco-mobile-image
  background-image: url('../../assets/monaco/monaco-mobile.png');
  height: 50rem;
  background-position: center;
.monaco-signage-image
  background-image: url('../../assets/monaco/monaco-signage.png');
  height: 40rem;
  background-position: center;
.monaco-signage-two-image
  background-image: url('../../assets/monaco/monaco-signage-02.png');
  height: 40rem;
  background-position: center;
