// alignment styles and images for the monaco gallery

// image classes
.monaco-touch-image
  background-image: url('../../assets/monaco/monaco-touch.png');
  max-height: 45rem;
  height: 80vw;
.monaco-mobile-image
  background-image: url('../../assets/monaco/monaco-mobile.png');
  max-height: 45rem;
  height: 70vw;
  background-position: top;
.monaco-signage-image
  background-image: url('../../assets/monaco/monaco-signage.png');
  max-height: 30rem;
  height: 40vw;
  background-position: center;
.monaco-signage-two-image
  background-image: url('../../assets/monaco/monaco-signage-02.png');
  max-height: 30rem;
  height: 40vw;
  background-position: center;
