// alignment styles and images for the special event gallery

// image classes
.outerwall-desktop-image
  background-image: url('../../assets/outerwall/outr-web-1.png');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
  width: 100%
    
.outerwall-touch-image
  background-image: url('../../assets/outerwall/outr-web-3.png');
  max-height: 50rem;
  height: 90vw;
  background-position: center;
  width: 100%
    
.outerwall-tablet-image
  background-image: url('../../assets/outerwall/outr-web-4.png');
  max-height: 70rem;
  min-height: 50rem;
  height: 70vw;
  background-position: center;
  width: 100%
    
.outerwall-web-image
  background-image: url('../../assets/outerwall/company-v-2.png');
  max-height: 50rem;
  height: 90vw;
  background-position: center;
  width: 100%
  