// alignment styles and images for the portfolio gallery

// image classes
.portfolio-desktop-image
  background-image: url('../../assets/portfolio/portfolio-desktop.png');
  max-height: 60rem;
  height: 80vw;
  background-position: center;
.portfolio-booklet-image
  background-image: url('../../assets/portfolio/portfolio-booklet.png');
  max-height: 40rem;
  height: 65vw;
  background-position: center;
.portfolio-touch-image
  background-image: url('../../assets/portfolio/portfolio-touch.png');
  max-height: 60rem;
  height: 80vw;
  background-position: center;