// alignment styles and images for the special event gallery

// image classes
.fitbit-desktop-mock
  background-image: url('../../assets/rei/fitbit-mock-img.jpg');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
  width: 100%
    
.yeti-desktop-mock
  background-image: url('../../assets/rei/yeti-mock-img.jpg');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
  width: 100%

.womens-hub-mock
  background-image: url('../../assets/rei/womens-hub-hp.jpg');
  max-height: 70rem;
  height: 90vw;
  background-position: center;
  width: 100%
  
.mbc-mock
  background-image: url('../../assets/rei/mbc-mock-img.jpg');
  max-height: 70rem;
  height: 50vw;
  background-position: center;
  width: 100%
    